<% include partials/header%>
<% include partials/navigation%>

<h1> home.ejs</h1>
<form action="/requests/" method="GET">
    <input type="text" name="jobId"/> 
    <button>submit</button>
</form>


<% include partials/footer%> 