<% include partials/header%>
<% include partials/navigation%>

<form action="/login" method="POST">
    <label for="userName">User Name</label>
    <input type="text" name="username" placeholder="user name" id="userName">
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="password" id="password">

    <button>Login</button>
    
</form>

<% include partials/footer%>